{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <h3 class="text-main-1" align="center">NGOS</h3>
        <div class="nk-gap"></div>
        <table class="nk-table" style="width:100%">

            <tbody>
            <tr>
                {% for i in ngo %}
                <td >
                    <img class="img-fluid rounded-circle mb-4" src="{{ asset(i.img) }}" alt="..." width="60" height="60" />
                </td>
                <td style="width:80%"> {{ i.NGO }} </td>
                <td ><a href="{{path('NGO_item',{'id':i.id })}}" class="btn btn-outline-dark mt-aut"  >View</a> </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>

    </div>
{% endblock %}
